.vscode
__pycache__
api_responses/*.json# pixi environments
.pixi/*
!.pixi/config.toml
.env
models/all-Mini-L6-v2
models/bge-reranker-v2-m3
faiss_document.json
id_mapping.json
vector_database.index
wikidata.news.json
