accelerate==0.25.0
beautifulsoup4==4.11.1
bitsandbytes==0.43.0
blingfire==0.1.8
hf-transfer
huggingface-hub
loguru==0.7.2
openai==1.13.3
sentence_transformers==2.6.1
torch==2.1.2
transformers==4.39.3
langchain==0.1.14
langchain-community==0.0.32
langchain-core==0.1.41
langchain-text-splitters==0.0.1
json5==0.9.6
nltk==3.7
numpy==1.23.5
chroma-hnswlib==0.7.3
chromadb==0.4.24
sentencepiece==0.2.0
rank-bm25==0.2.2
FlagEmbedding==1.2.9
trl==0.8.6
peft==0.10.0
vllm==0.4.0.post1
triton==2.1.0
xformers==0.0.23.post1
posthog==3.0.2